body {
    background: #363636;
}

h1 {
    text-align: center;
    font-family: arial;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin: 30px;
}
#jogo {
    float: center;
    /* border: 1px solid white; */
    margin: 5px 40%;
}

h2 {
    text-align: center;
    font-family: arial;
    font-weight: bold;
    text-transform: uppercase;

    background: #55555585;
    color: white;
    
    border-radius: 50px;
    width: 130px;
    height: 30px;
    margin: 10px auto;
    padding: 8px;
    display: inline-block;
    
}

canvas {
    display: block;
    margin: auto;
    box-shadow: 2px 2px 10px #000000a4;
    border-radius: 10px;
}

p {
    text-align: center;
    text-transform: uppercase;
    font-family: arial;
    font-weight: bold;
    color: rgb(218, 252, 0);
    margin-bottom: 0;
}

.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    color: white;

    display: inline-block;
    background: #55555585;
    border-radius: 50px;

    margin: 0px 40px;

    width: 45px;
    height: 40px;

    cursor: pointer;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }